extends layout

block content
  h1= title
  div
      div
        div
          block sidebar
            ul
              li
                a(href='/') Home
              each category in categories
                li
                  a(href=category.url)= category.name


