extends layout

block content
  h1= title
  div
      div
        div
          block sidebar
            ul
              each item in items
                li
                  a(href=item.url)= item.name
  li
    a(href='/') Home
  hr
  a(href=category.url+'/delete') Delete category